Repository zpervan/digitalpaper, pull requests merged in 2022-12, with the labels that each got.

#27 Implement session manager and adjust database
  backend/core/dependecies.go
  backend/database/mongo-init.js
  backend/main.go
  backend/web/database.go
  backend/web/routes.go
  go.mod
Labels: backend

#28 Feature/homepage design
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Layout.tsx
  frontend/src/getData.ts
  frontend/src/main.tsx
  frontend/src/pages/About.tsx
  frontend/src/pages/CreatePost.tsx
  frontend/src/pages/Post.tsx
Labels: frontend

#36 Implement a check to signup only unique users
  backend/database/users.go
  backend/web/handlers.go
Labels: merge first, backend

#37 Adjust CORS policy and error message responses
  backend/core/response.go
  backend/main.go
  backend/web/handlers.go
  go.mod
Labels: merge first, backend

#38 Refactor environment files (Docker and Golang)
  .env
  backend/database/posts.go
  backend/web/handlers.go
Labels: backend

#43 Implement user logout based on user Id
  backend/core/data.go
  backend/web/handlers.go
  backend/web/routes.go
Labels: backend

#44 Implement protected middleware layer
  backend/web/middleware.go
  backend/web/routes.go
Labels: backend

#45 Add more security to response headers
  backend/web/middleware.go
  backend/web/routes.go
Labels: backend

#52 Add database users test and refactor
  backend/database/posts.go
  backend/database/tests/database_test_suite.go
  backend/database/tests/posts_test.go
  backend/database/tests/users_test.go
  backend/database/users.go
  backend/web/handlers.go
Labels: backend
